<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/adminlayout.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul class="top-menu">
            <li><a href="@Url.Action("Index","Admin")">Anasayfa</a></li>
            <li><a href="@Url.Action("Index","Cekilis")">Çekilişler</a></li>
            <li><a href="@Url.Action("Index","Kampanya")">Kampanyalar</a></li>
            <div class="sonLinkler">
            <li><a href="@Url.Action("SifreDegistir","Admin")">Şifre Değiştir</a></li>
            <li><a href="@Url.Action("CikisYap","Admin")">Çıkış Yap</a></li>
            </div>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
