<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/adminlayout.css" rel="stylesheet" />
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #eae2f8; /* Açık lavanta rengi */
        }

        nav {
            overflow: hidden;
            background-color: rgba(41, 26, 65, 1);
        }

        .top-menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

            .top-menu .ilk, .top-menu .sonLinkler {
                display: flex;
            }

            .top-menu li {
                display: inline;
            }

                .top-menu li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 20px;
                    text-decoration: none;
                }

                    .top-menu li a:hover {
                        background-color: black;
                    }

        .sonLinkler {
            display: flex;
        }

        .ilkLinkler {
            display: flex;
        }

    </style>
</head>
<body>
    <nav>
        <ul class="top-menu">
            <div class="ilkLinkler">
            <li><a href="@Url.Action("Index","Admin")">Anasayfa</a></li>
            <li><a href="@Url.Action("Index","Cekilis")">Çekilişler</a></li>
            <li><a href="@Url.Action("Index","Kampanya")">Kampanyalar</a></li>
            <li><a href="@Url.Action("MesajGonderilecekKisiler","Mesaj")">Mesaj Gönder</a></li>
            </div>
            <div class="sonLinkler">
            <li><a href="@Url.Action("SifreDegistir","Admin")">Şifre Değiştir</a></li>
            <li><a href="@Url.Action("CikisYap","Admin")">Çıkış Yap</a></li>
            </div>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
