<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgba(220, 255, 220, 1);
        }

        nav {
            overflow: hidden;
            background-color: rgb(38, 147, 151);
        }

        .top-menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

            .top-menu .ilk,
            .top-menu .sonLinkler {
                display: flex;
            }

            .top-menu li {
                display: inline;
            }

                .top-menu li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 20px;
                    text-decoration: none;
                }

                    .top-menu li a:hover {
                        background-color: black;
                    }

        .sonLinkler {
            display: flex;
        }

        .ilkLinkler {
            display: flex;
        }
    </style>
</head>

<body>
    <nav>
        <ul class="top-menu">
            <div class="ilkLinkler">
            <li><a href="@Url.Action("Index","SellerCompany")">Anasayfa</a></li>
            <li><a href="@Url.Action("MessageToSupport","Message")">Teknik Elemana Mesaj</a></li>
            </div>
            <div class="sonLinkler">
            <li><a href="@Url.Action("CompanyProfile","SellerCompany")">Profil</a></li>
            <li><a href="@Url.Action("CompanySocialMediaAccounts","SellerCompany")">Sosyal Medya Hesaplarım</a></li>
            <li><a href="@Url.Action("ChangePassword","SellerCompany")">Şifre Değiştir</a></li>
            <li><a href="@Url.Action("Logout","SellerCompany")">Çıkış Yap</a></li>
            </div>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
