@model TeknikElemanIndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>

    .anaDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: rgba(200, 255, 200, 1);
        min-height: 70vh;
    }

    .ayiriciDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .icDiv {
        border: solid 1px rgba(41, 26, 65, 0.1);
        border-radius: 8px;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 10px;
        padding: 20px;
        text-align: center;
        flex: 1;
        min-width: 200px;
        max-width: 300px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

        .icDiv:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .icDiv h1 {
            color: green;
        }

        .icDiv p {
            color: #555;
        }

    a {
        text-decoration: none;
    }

</style>



<div class="anaDiv">
    <div class="ayiriciDiv">
        <div class="icDiv">
            <a href="@Url.Action("Index","Iade")">
                <h1>İade Talepleri(@Model._iadeTalepSayisi)</h1>
                <p>Gelen iade talepleri burdan <br> görebilir ve süreci <br />yönetebilirsin </p>
            </a>
        </div>
        <div class="icDiv">
            <a href="@Url.Action("Index","Iade")">
                <h1>Yolda İade Talepleri(@Model._yoldaIadeTalepSayisi)</h1>
                <p>Kargo yoldayken <br> istenen iadeler </p>
            </a>
        </div>

        <div class="icDiv">
            <a href="@Url.Action("Index","Mesaj")">
                <h1>Gelen Mesajlar(@Model._mesajSayisi)</h1>
                <p>Ve mesaj işlemlerini <br> burdan yönetebilirsin</p>
            </a>
        </div>
        <div class="icDiv">
            <a href="@Url.Action("Index","Sikayet")">
                <h1>Gelen Şikayetler(@Model._sikayetSayisi)</h1>
                <p>Gelen Şikayetleri burdan <br> görebilir ve gerekli işlemleri <br> yapabilirsin</p>
            </a>

        </div>
        <div class="icDiv">
            <a href="@Url.Action("Index","Satis")">
                <h1>Satış Reddleri(@Model._satisRedSayisi)</h1>
                <p>Şatış redleri <br> ve sebepleri görüntüle</p>
            </a>
        </div>
        <div class="icDiv">
            <a href="@Url.Action("Index","Urun")">
                <h1>Ürün Yönetimi</h1>
                <p>Ürünleri yönetmek  için tıkla</p>
            </a>
        </div>
        <div class="icDiv">
            <a href="@Url.Action("Index","Firma")">
                <h1>Firma Yönetimi</h1>
                <p>Firma işlemlerini burdan <br> yönetebilirsin</p>
            </a>
        </div>
    </div>
    <div class="ayiriciDiv">
        <div class="icDiv">
            <a href="@Url.Action("Index","KargoFirma")">
                <h1>Kargo Firma Yönetimi </h1>
                <p>Kargo firmalarını <br> yönetmek için tıklayınız</p>
            </a>
        </div>

        <div class="icDiv">
            <a href="@Url.Action("Index","SikcaSorulanlar")">
                <h1>Sıkça Sorulanlar</h1>
                <p>Kullancılara sunmak için sık sorunlar<br> kısmına ekleme yapabilirsin </p>
            </a>
        </div>
        <div class="icDiv">
            <a href="@Url.Action("Index","Kullanici")">
                <h1>Kullanıcı Yönetimi</h1>
                <p>Önerileri okumak için <br> tıklayınız</p>
            </a>
        </div>

    </div>
</div>

